div.navbar.navbar-app.navbar-absolute-bottom{
border-top-color: #cccccc !important;
}

#branding { 
    background: none repeat scroll 0 0 transparent;
    left: 72px !important;
    right: 30px;
    width: 54% !important;
  position:fixed;
  bottom:30px !important;
  left:0px;
  right:0px;
}

body {
   position:absolute;
   width:100%;
   height:100%;
   background-size:100% 100% !important;
}

p, div{
color: #555;
}

.icon {
   width:56px !important;
   height:56px !important;
}
#homedata .campuseai-Info {
  color:#fff;
  width:56px !important;
  height:33px !important;
}
.dockicon:after {
   bottom:0px !important;
}

.dockicon {
   margin-bottom:25px !important;
}

#settingscontainer p{
font-size: 15px !important;
}

.blockUI i{
   color:white !important;
}

#homedata .campuseai-Info {
  width:76px !important;
  margin-left:-10px;
}

@media (min-width : 320px) and (max-width : 480px) { 
   .icon { width:56px !important;
     height:56px !important;
   }
   #homedata .campuseai-Info {
     width:76px !important;
     margin-left:-10px;
     overflow: hidden;
     text-overflow: ellipsis;
     white-space: nowrap;  
   }
}

@media (min-width : 320px) and (max-width : 568px) { 
   .icon { width:75px !important;
       height:75px !important;
   }
   #homedata .campuseai-Info {
     width:96px !important;
     font-size:12px;
     margin-top:2px;
     margin-left:-10px;
     margin-right:-10px;
     /*margin-left:-10px;*/
   }
}

@media (min-width: 768px) { 
   #branding {
      width:50% !important;
      margin:auto;    
   }
   .icon {
      width:102px !important;
      height:102px !important;
    }

#homedata .campuseai-Info {
     width:120px !important;
     
     margin-left:-10px;
     margin-right:-10px;
     /*margin-left:-10px;*/
   }
}

.app-body {
  padding-bottom:18px !important;
}

.promptumenu_nav a.active {
   background:#c9262e;
   border-radius:50%;
   width:10px;
   height:10px;
}

.promptumenu_nav a {
  background:#fff;
   border-radius:50%;
   width:10px;
   height:10px;
}
.promptumenu_window {
   overflow:visible !important; 
}

.promptumenu_nav {
margin-bottom:-3px;
}

.panel-primary>.panel-heading{
color: #555;
background-color: #eee !important; 
border-color: #eee !important;
}

.panel-primary {
border-color: #eee !important;
}

.promptumenu_nav {
margin-bottom: -40px !important;
}

.panel-heading {
 border-top-right-radius: 0px !important; 
 border-top-left-radius: 0px !important; 
}

.list-group-item, a.list-group-item{
border-bottom: 1px solid #b0352d;
}

a.list-group-item.active, a.list-group-item.active:focus, a.list-group-item.active:hover {
z-index: 2;
color: #fff;
border-color: #b0352d !important;
}

.panel-default>.panel-heading {
color: #555;
background-color: #eee;
border-color: #eee;
}

.panel-default .panel-heading {
padding: 10px !important;
}

.btn-primary {
color: #fff;
background-color: #D63333 !important;
border-color: #D63333 !important;
}

.text-center{
overflow: visible !important;
}

#settingscontainer p {
  font-size:15px !important;
  color:#000 !important;
}

#settingscontainer .container {
  margin-top:20px !important;
}

.navbar-app{
border-color: #ca4036 !important;
}

#fgpassword{
color: #555 !important;
}

div.module-title{
    padding: 15px;
    background-color: #b1362e;
    font-weight: bold;
    font-size:16px;
}

.module-title div{
    color: #fff !important;
}
a:active { opacity: 1 !important; }