<style>
    .appgroup {
        background: rgb(96,108,136); /* Old browsers */
        background: -moz-linear-gradient(-45deg,  rgba(96,108,136,1) 0%, rgba(63,76,107,1) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(96,108,136,1)), color-stop(100%,rgba(63,76,107,1))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(-45deg,  rgba(96,108,136,1) 0%,rgba(63,76,107,1) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(-45deg,  rgba(96,108,136,1) 0%,rgba(63,76,107,1) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(-45deg,  rgba(96,108,136,1) 0%,rgba(63,76,107,1) 100%); /* IE10+ */
        background: linear-gradient(135deg,  rgba(96,108,136,1) 0%,rgba(63,76,107,1) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#606c88', endColorstr='#3f4c6b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
        color:white;font-size:17px;font-weight:bold;
    }


/*#mainSidebar .list-group .active {
 box-shadow: 0 0 0 0;
 }
 #mainSidebar .list-group-item {
 border-bottom: 1px solid #d1d1d1 !important;
 }
 .sidebar, #mainSidebar {
 background: #f3f3f3 !important;
 }
 @import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700);
 .openSans {
 font-family: 'Open Sans', sans-serif;
 color:#434443;
 }
 */


    </style>
<div class="navbar-brand" style="color:white;" ng-bind="appDisplayName"></div>

<div class="scrollable sidebar-scrollable">
    <div class="scrollable-content">
        <div class="list-group" toggle="off" bubble target="mainSidebar">
            <a class="list-group-item" href="#/home" style="padding-left:20px;font-size:16px;fon-weight:bold;">
                <i class="fa fa-home fa-2x" ></i>
                Home
                <!--<i class="fa fa-chevron-right pull-right"></i>-->
            </a>
            
            <!--Profile start-->
            <!--<a aria-label="Home" class="list-group-item" href="#/app/UserProfile/UserProfile" style="padding:5px 0 5px 20px;font-size:16px;font-weight:normal;">
                <div class="form-group" style="margin-bottom:0px;">
                    <div class="" style="padding:0px;float:left;">
                        <img ng-src="{{userProfilePic}}" style='height:100%;width:auto;max-height: 90px;max-width: 90px;overflow: hidden;border-radius: 3px;'/>
                    </div>
                    <div class="" class='openSans' style='padding-left:8px;padding-top:10px;text-align:left;float:left;'>
                        <div style='font-size:16px;'>{{userProfileName}}</div>
                        <div style='font-size:11px;'>{{studentRole}}</div>
                    </div>
                    <div style="clear:both"></div>
                </div>
            </a>-->
            <!--Profile end-->
            
            
            <div ng-repeat = "ag in appgroups">
                <div class="list-group-item appgroup" >
                    {{ag.appFeatureType}}
                </div>
                <a  class="list-group-item" href="#/app/{{app.name}}/{{app.name}}" ng-repeat="app in ag.apps" style="padding-left:20px;font-size:16px;fon-weight:bold;" ng-show="app.showInHome == true">
                    <img class="avatar" style="width:2em;height:2em;" id="logo-{{app.name}}" ng-src="{{app.logo}}"  alt="...">
                        {{app.displayname}}
                        <!--<i class="fa fa-chevron-right pull-right"></i>-->
                        <!--<p>{{app.appFeatureType}}</p>-->
                        </a>
                
            </div>
            
            <a class="list-group-item" href="#/app/Settings2/Settings2" style="padding-left:20px;font-size:16px;fon-weight:bold;">
                <img class="avatar" style="width:2em;height:2em;" ng-src="images/Settings2.png"  alt="...">
                    Settings
                    <!--<i class="fa fa-chevron-right pull-right"></i>-->
                    <!--<p>{{app.appFeatureType}}</p>-->
            </a>
            <div  class="list-group-item"></div>
            
            
            
            
            
            
            
            <!--<div class="list-group-item appgroup" >
             Settings
             </div>
             <a id="troubleshootbtn" class="list-group-item" href="#/settings" style="padding-left:20px;font-size:16px;fon-weight:bold;">
             <i class="fa fa-bolt fa-2x" style="min-width:40px;text-align:center;"></i>
             Troubleshoot
             <i class="fa fa-chevron-right pull-right"></i>
             </a>
             <a id="helpbtn" class="list-group-item" href="#/help" style="padding-left:20px;font-size:16px;fon-weight:bold;">
             <i class="fa fa-question-circle fa-2x" style="min-width:40px;text-align:center;"></i>
             Help
             <i class="fa fa-chevron-right pull-right"></i>
             </a>
             <a id="aboutbtn" class="list-group-item" href="#/about" style="padding-left:20px;font-size:16px;fon-weight:bold;">
             <i class="fa fa-sun-o fa-2x" style="min-width:40px;text-align:center;"></i>
             About
             <i class="fa fa-chevron-right pull-right"></i>
             </a>
             <a id="deviceinfobtn" class="list-group-item" href="#/device" style="padding-left:20px;font-size:16px;fon-weight:bold;">
             <i class="fa fa-mobile-phone fa-2x" style="min-width:40px;text-align:center;"></i>
             Device Info
             <i class="fa fa-chevron-right pull-right"></i>
             </a>
             <a id="sendfeedbackbtn" class="list-group-item" href="#/sendfeedback" style="padding-left:20px;font-size:16px;fon-weight:bold;">
             <i class="fa fa-envelope fa-2x" style="min-width:40px;text-align:center;"></i>
             Send feedback
             <i class="fa fa-chevron-right pull-right"></i>
             </a>
             <a id="reportissuebtn" class="list-group-item" href="#/reportissue" style="padding-left:20px;font-size:16px;fon-weight:bold;">
             <i class="fa fa-envelope fa-2x" style="min-width:40px;text-align:center;"></i>
             Report Issue
             <i class="fa fa-chevron-right pull-right"></i>
             </a>
             <a  class="list-group-item" style="padding-left:20px;font-size:16px;font-weight:bold;">&nbsp;&nbsp;&nbsp;
             </a>
             </div>-->
        </div>
    </div>
